<h1>Unit  List</h1>
<%= form_for @unit do |f| %>
<ul>
    <li>
        <%= f.check_box_tag :unitID%>
        <%= link_to :unitTitle, unit_list_questionnaire_path(@unitID) %>
    </li>
    
</ul>
<% end %>