<h1>UserLogin#login</h>
<div class="loginform cf">
<form name="login" action="index_submit" method="post" accept-charset="utf-8">
    <ul>
        <li><label for="studentID">StudentID</label>
        <input type="studentID" name="studentID" required></li>
        <li><label for="password">Password</label>
        <input type="password" name="password" placeholder="password" required></li>
        <li>
        <input type="submit" value="Login"></li>
    </ul>
</form>
</div>

